<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ffd.userservice.api.mapper.UserMapper">

    <insert id="insertUser" parameterType="com.ffd.userservice.api.model.User">
        INSERT INTO "user" (
            email,
            pw,
            name,
            address,
            phone,
            role,
            remarks,
            created_date,
            last_modified_date
        )
        VALUES (
            #{user.email, typeHandler=com.ffd.userservice.common.handler.AesTypeHandler},
            #{user.pw},
            #{user.name, typeHandler=com.ffd.userservice.common.handler.AesTypeHandler},
            #{user.address},
            #{user.phone, typeHandler=com.ffd.userservice.common.handler.AesTypeHandler},
            #{user.role},
            #{user.remarks},
            now(),
            now()
        )
    </insert>

    <resultMap type="com.ffd.userservice.api.model.User" id="userMap">
        <result property="index" column="index"/>
        <result property="email" column="email" typeHandler="com.ffd.userservice.common.handler.AesTypeHandler"/>
        <result property="pw" column="pw"/>
        <result property="name" column="name" typeHandler="com.ffd.userservice.common.handler.AesTypeHandler"/>
        <result property="address" column="address"/>
        <result property="phone" column="phone" typeHandler="com.ffd.userservice.common.handler.AesTypeHandler"/>
        <result property="role" column="role"/>
        <result property="remarks" column="remarks"/>
        <result property="createdDate" column="created_date"/>
        <result property="lastModifiedDate" column="last_modified_date"/>
    </resultMap>

    <select id="findByEmail" resultMap="userMap">
        SELECT * FROM "user" WHERE email = #{email}
    </select>

    <update id="updateUserPassword">
        UPDATE "user" SET pw = #{newPassword} WHERE index = #{userSeq}
    </update>

</mapper>
