<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ffd.batch.mapper.OrderMapper">

    <select id="findOrdersByStatus" resultType="com.ffd.batch.service.Order">
        SELECT * FROM "order"
        WHERE status = #{status}
    </select>

    <update id="updateOrderStatus">
        UPDATE "order"
        SET status = #{status}, last_modified_date = CURRENT_TIMESTAMP
        WHERE index = #{index}
    </update>

</mapper>